@font-face { 
  font-family: 'Segoe UI'; 
  src: url('fonts/ofont-ru-segoe-ui-semibold.woff2') format('woff2'), 
       url('fonts/original-ofont-ru-segoe-ui-semibold.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       url('fonts/ofont-ru-segoe-ui-semibold.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
  font-display: swap;
}
* {
	box-sizing: border-box;
}
.page {
	margin: 0;
	padding: 0;

}
.categ {
	position: relative;

	font-family: "Segoe UI", Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	
	background-color: #4a505f;
}
.categ__header {
	height: 50px;

	background-color: #414755;
}
.categ__headline {
	position: relative;
	margin: 0;
	padding-left: 29px;
	width: 200px;

	font-size: 18px;
	line-height: 50px;
}
.categ__headline:before {
	position: absolute;
	left: 0px;
	top: 51%;
	transform: translate(0, -50%);

	display: block;
	content: "";

	background-image: url(icon-sprite.png);
	background-repeat: no-repeat;
	background-position-x: -575px;
	width: 15px;
	height: 10px;
}
.categ__headline:hover {
	cursor: pointer;
}
.categ__inner {
	max-width: 1260px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.categ__menu {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	
	height: 0;
	overflow: hidden;
	
	transition: all 400ms;
	background-color: #4a505f;
}
.categ__menu--nojs {
	position: static;
	height: auto;
}
.categ__inner--menu {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 17px;
}
.categ__list {
	padding: 0;
	margin: 0;
	border-left: 1px solid #585d69;
	list-style: none;
}
.categ__list:first-child {
	border-left: none;
}
.categ__item {
	width: 24.95934959349593%;
}
.categ__link {
	position: relative;

	display: inline-block;
	padding-left: 49px;
	height: 49px;
	width: 250px;

	text-decoration: none;
	color: #fff;
	line-height: 49px;
	border-left: 1px solid #4a505f;

	transition: all 100ms;
}
.categ__link:hover {
	background-color: #545c6e;
	cursor: pointer;
	border-left: 1px solid #e66a86;
	color: #e66a86;
}
.categ__icon {
	position: absolute;
	left: 14px;
	top: 50%;
	transform: translate(0, -50%);

	display: block;
	content: "";

	background-image: url(icon-sprite.png);
	background-repeat: no-repeat;
	width: 23px;
	height: 23px;

}

.categ__link:hover .categ__icon {
	background-position-y: -25px;
}

.categ__icon--1 {
	background-position-x: 0; 
	height: 10px;
}
.categ__icon--2 {
	background-position-x: -23px; 
}
.categ__icon--3 {
	background-position-x: -46px;
	left: 18px;
}
.categ__icon--4 {
	background-position-x: -69px;
}
.categ__icon--5 {
	background-position-x: -92px;
}
.categ__icon--6 {
	background-position-x: -115px;
	left: 18px;
}
.categ__icon--7 {
	background-position-x: -138px;
	height: 17px;
}
.categ__icon--8 {
	background-position-x: -161px;
	height: 18px;
	left: 17px;
}
.categ__icon--9 {
	background-position-x: -184px;
	height: 14px;
}
.categ__icon--10 {
	background-position-x: -207px;
}
.categ__icon--11 {
	background-position-x: -230px;
	left: 16px;
}
.categ__icon--12 {
	background-position-x: -253px;
	height: 16px;
}
.categ__icon--13 {
	background-position-x: -276px;
	left: 17px;
}
.categ__icon--14 {
	background-position-x: -299px;
	height: 17px;
}
.categ__icon--15 {
	background-position-x: -322px;
	left: 17px;
}
.categ__icon--16 {
	background-position-x: -345px;
}
.categ__icon--17 {
	background-position-x: -368px;
}
.categ__icon--18 {
	background-position-x: -391px;
}
.categ__icon--19 {
	background-position-x: -414px;
}
.categ__icon--20 {
	background-position-x: -437px;
	left: 16px;
	height: 12px;
}
.categ__icon--21 {
	background-position-x: -460px;
	height: 17px;
}
.categ__icon--22 {
	background-position-x: -483px;
}
.categ__icon--23 {
	background-position-x: -506px;
}
.categ__icon--24 {
	background-position-x: -529px;
}
.categ__icon--25 {
	background-position-x: -552px;
	left: 16px;
}


/* Media */

@media screen and (min-width: 900px) {
	/* При наведении на бургер открывается меню */
	.categ__headline:hover ~ .categ__menu,
	.categ__menu:hover {
		height: 400px;
	}
}

@media screen and (max-width: 899px) {
	.categ__list {
		width: 50%;
	}
	.categ__list:nth-child(3) {
		border-left: none;
	}
	.categ__menu--opened {
		height: 750px;
	}
}
@media screen and (max-width: 520px) {
	.categ__list {
		width: 100%;
	}
	.categ__list {
		border-left: 1px solid #585d69 !important;
	}
	.categ__menu--opened {
		height: 1300px;
	}
}