
/* Свойства для станицы, можно их не заливать на сайт */
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.page {
	margin: 0;
	padding: 0;

}

/* Основные свойства */

@font-face { 
  font-family: 'Segoe UI'; 
  src: url('fonts/ofont-ru-segoe-ui-semibold.woff2') format('woff2'), 
       url('fonts/original-ofont-ru-segoe-ui-semibold.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       url('fonts/ofont-ru-segoe-ui-semibold.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
  font-display: swap;
}

.categ {
	position: relative;

	font-family: "Segoe UI", Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	
	background-color: #4a505f;
}
.categ__header {
	height: 50px;

	background-color: #414755;
}
.categ__headline {
	position: relative;
	margin: 0;
	padding-left: 29px;
	width: 200px;

	font-size: 18px;
	line-height: 50px;
}
.categ__headline:before {
	position: absolute;
	left: 0px;
	top: 51%;
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);

	display: block;
	content: "";

	background-image: url(icon-sprite.png);
	background-repeat: no-repeat;
	background-position-x: -575px;
	width: 15px;
	height: 10px;
}
.categ__headline:hover {
	cursor: pointer;
}
.categ__inner {
	max-width: 1260px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.categ__menu {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;

	height: 0;
	overflow: hidden;
	
	-webkit-transition: height 400ms;
	
	-o-transition: height 400ms;
	
	transition: height 400ms;
	background-color: #4a505f;
}
.categ__menu--nojs {
	position: static;
	height: auto;
}
.categ__list {
	margin: 0 auto;
	margin-top: 20px;
	
}
.menu-list {
	padding: 0 15px;
	max-width: 1260px;
	height: 350px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	list-style: none;
}
.menu-list__item {
	width: 24.95934959349593%;
	border-left: 1px solid #585d69;
}
.menu-list__item:nth-child(1),
.menu-list__item:nth-child(2),
.menu-list__item:nth-child(3),
.menu-list__item:nth-child(4),
.menu-list__item:nth-child(5),
.menu-list__item:nth-child(6),
.menu-list__item:nth-child(7) {
	border-left: none;
}
.menu-list__link {
	position: relative;

	display: inline-block;
	padding-left: 49px;
	padding-right: 10px;
	height: 49px;
	width: 250px;


	text-decoration: none;
	color: #fff;
	line-height: 49px;
	border-left: 1px solid transparent;

	-webkit-transition: all 50ms;

	-o-transition: all 50ms;

	transition: all 50ms;
}
.menu-list__link:hover {
	background-color: #545c6e;
	cursor: pointer;
	border-left: 1px solid #e66a86;
	color: #e66a86;
}
.menu-list__link--big-text {
	padding-top: 5px;
	line-height: 20px;
}
.menu-list__icon {
	position: absolute;
	left: 14px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);

	display: block;
	content: "";

	background-image: url(icon-sprite.png);
	background-repeat: no-repeat;
	width: 23px;
	height: 23px;

}

.menu-list__link:hover .menu-list__icon {
	background-position-y: -25px;
}

.menu-list__icon--1 {
	background-position-x: 0; 
	height: 10px;
}
.menu-list__icon--2 {
	background-position-x: -23px; 
}
.menu-list__icon--3 {
	background-position-x: -46px;
	left: 18px;
}
.menu-list__icon--4 {
	background-position-x: -69px;
}
.menu-list__icon--5 {
	background-position-x: -92px;
}
.menu-list__icon--6 {
	background-position-x: -115px;
	left: 18px;
}
.menu-list__icon--7 {
	background-position-x: -138px;
	height: 17px;
}
.menu-list__icon--8 {
	background-position-x: -161px;
	height: 18px;
	left: 17px;
}
.menu-list__icon--9 {
	background-position-x: -184px;
	height: 14px;
}
.menu-list__icon--10 {
	background-position-x: -207px;
}
.menu-list__icon--11 {
	background-position-x: -230px;
	left: 16px;
}
.menu-list__icon--12 {
	background-position-x: -253px;
	height: 16px;
}
.menu-list__icon--13 {
	background-position-x: -276px;
	left: 17px;
}
.menu-list__icon--14 {
	background-position-x: -299px;
	height: 17px;
}
.menu-list__icon--15 {
	background-position-x: -322px;
	left: 17px;
}
.menu-list__icon--16 {
	background-position-x: -345px;
}
.menu-list__icon--17 {
	background-position-x: -368px;
}
.menu-list__icon--18 {
	background-position-x: -391px;
}
.menu-list__icon--19 {
	background-position-x: -414px;
}
.menu-list__icon--20 {
	background-position-x: -437px;
	left: 16px;
	height: 12px;
}
.menu-list__icon--21 {
	background-position-x: -460px;
	height: 17px;
}
.menu-list__icon--22 {
	background-position-x: -483px;
}
.menu-list__icon--23 {
	background-position-x: -506px;
}
.menu-list__icon--24 {
	background-position-x: -529px;
}
.menu-list__icon--25 {
	background-position-x: -552px;
	left: 16px;
}


/* Media */

@media screen and (min-width: 900px) {
	/* При наведении на бургер открывается меню */
	.categ__headline:hover ~ .categ__menu,
	.categ__menu:hover {
		height: 413px;
	}
}

@media screen and (max-width: 899px) {
	.menu-list__item {
		width: 50%;
	}
	.categ__menu--opened,
	.menu-list {
		height: 750px;
	}
	.menu-list__item:nth-child(8),
	.menu-list__item:nth-child(9),
	.menu-list__item:nth-child(10),
	.menu-list__item:nth-child(11),
	.menu-list__item:nth-child(12),
	.menu-list__item:nth-child(13),
	.menu-list__item:nth-child(14),
	.menu-list__item:nth-child(15) {
		border-left: none;
	}
}
@media screen and (max-width: 520px) {
	.menu-list__item {
		width: 100%;
	}
	.menu-list__item {
		border-left: 1px solid #585d69 !important;
	}
	.categ__menu--opened,
	.menu-list {
		height: 1300px;
	}
}