* {
	box-sizing: border-box;
}
.page {
	margin: 0;
	padding: 0;

}
.categ {
	font-family: "Segoe UI", Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	
	padding-bottom: 50px;
	background-color: #4a505f;
}
.categ__header {
	height: 50px;

	background-color: #414755;
}
.categ__headline {
	margin: 0;
	padding-left: 29px;

	font-size: 18px;
	line-height: 50px;
}

.categ__menu,
.categ__inner {
	max-width: 1260px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.categ__menu {
	position: relative;

	display: flex;
	justify-content: space-between;
	min-height: 350px;
	flex-wrap: wrap;
	margin-top: 17px;
}
.categ__list {
	padding: 0;
	margin: 0;
	border-left: 1px solid #585d69;
	list-style: none;
}
.categ__list:first-child {
	border-left: none;
}
.categ__item {
	width: 24.95934959349593%;
}
.categ__link {
	position: relative;

	display: inline-block;
	padding-left: 49px;
	height: 49px;
	width: 250px;

	text-decoration: none;
	color: #fff;
	line-height: 49px;
	border-left: 1px solid #4a505f;

	transition: all 100ms;
}
.categ__link:hover {
	background-color: #545c6e;
	cursor: pointer;
	border-left: 1px solid #e66a86;
	color: #e66a86;
}
.categ__icon {
	position: absolute;
	left: 14px;
	top: 50%;
	transform: translate(0, -50%);

	display: block;
	content: "";

	background-image: url(icon-sprite.png);
	background-repeat: no-repeat;
	width: 23px;
	height: 23px;

}

.categ__link:hover .categ__icon {
	background-position-y: -25px;
}

.categ__icon--1 {
	width: 23px;
	height: 23px;
	background-position-x: -46px; 
}
.categ__icon--2 {
	background-position-x: -69px; 
}

@media screen and (max-width: 1050px) {
	.categ__list {
		width: 50%;
	}
	.categ__list:nth-child(3) {
		border-left: none;
	}
}
@media screen and (max-width: 520px) {
	.categ__list {
		width: 100%;
	}
	.categ__list {
		border-left: 1px solid #585d69 !important;
	}
}